* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-family: 'Epilogue', sans-serif;
    font-size: 62.5%;

    --hue: 250;
    --hue-bg: 237;
    --bg_primary: hsla(var(--hue-bg), 22%, 20%, 1);
    --fc-primary: hsla(var(--hue), 0%, 100%, 1);
    --fc-secundary: hsla(var(--hue), 50%, 80%, 1);
    --fc-highlight: hsla(var(--hue), 100%, 11%, 1);


    --fs-body: 1.6rem;
    --fs-heading: 5rem;

    --fs-heading: clamp(5rem, 1rem + 5vw, 7.2rem)
   
}

.page {
    max-width: 33rem;
    margin: 0 auto;
}

body {
    background-color: var(--bg_primary);
    padding: 10rem 2.3rem;
}

img {
    width: 100%;
    height: auto;
    border-radius: 6px;

}


header {
    margin-bottom: 8rem;
    text-align: center;
}

header p {
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--fc-secundary);
    font-size: var(--fs-body);
    font-weight: 400;
    line-height: 3.2rem;
    margin-bottom: 17px;
}

header h1 {
    font-size: var(--fs-heading);
    font-weight: 800;
    line-height: 4.8rem;
    color: var(--fc-primary);
}

main {
    text-align: center;
    width: 100%;
    display: grid;
    gap: 3.2rem;
}

.card{
    position: relative;
    
}


.card h2 {
    position: absolute;
    bottom: 5.2rem;
    left: 2.8rem;

    font-weight: 800;
    color: var(--fc-primary);
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
}

.card h2 span {
    color: var(--fc-highlight);
    font-size: var(--fs-body);
    display: inline-flex;
    height: 3.8rem;
    align-items: center;
    border-radius: 2rem;
    padding: 0.6rem 1.6rem 0;
    margin-left: 5px;
    background-color: var(--fc-primary);
    width: fit-content;
}


.card img {
    height: 41.6rem;
    object-fit: cover;
    transition-timing-function: ease-in-out;
    transition: 200ms;
    opacity: 1;
    filter: brightness(0.9) ;
    
}

.card img:hover {
    transform: scale(105%);
    transition: 400ms;    
    transition-timing-function: ease-in-out;
    opacity: 0.4;
    filter: blur(2px);
    filter: drop-shadow(2);
}


header {
    animation: topdown;
    transition: 700ms;
}


@media (min-width:540px) {

    :root {
        --fs-heading: 5.6rem
    }
    
    .page {
        max-width: 117rem;
        padding: 0 5rem;
    }
}



@media (min-width:800px) {
    


    main {
        grid-template-areas: "A B B" "C C D";
        gap: 30px;
    }

    main div:nth-child(1) {
        grid-area: A;
    }
    main div:nth-child(2) {
        grid-area: B;
    }
    main div:nth-child(3) {
        grid-area: C;
    }
    main div:nth-child(4) {
        grid-area: D;
    }



}




